*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    overflow-x:hidden;
    overflow-y:hidden;

}

header{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
     url('img/CarPhoto.jpg');
    background-size:cover;
    background-position:center;

}

nav{
    width:100%;
    height:8vh;
    background:white;
    color:black;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 7vw;
}

.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size:2.5em;
    font-weight:bold;
    
}
.logo span{
    color:#e74c3c;
}
.home_menu{
    display:flex;
    justify-content: center;

}
.home_menu a{
    text-decoration: none;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    transition:200ms ease-in-out;
}

.home_menu a:hover{
    color:#e74c3c;
    font-size:21px;
    

}

section{
    height:92vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    

}
.content{
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}
    
.heading{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:3rem;
    padding-bottom: 0.5rem;

}
.button{
    width:200px;
    padding: 15px;
    display:flex;
    background:linear-gradient(to right,#ff105f,#ffad06);
    justify-content: center;
    align-items:center;
    border-radius:30px;
    margin-right:5px;
    margin-top:0.7rem;

}
.button a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    
}
.outerButton{
    width: 210px;
    height:70px;
    
    
}
.button a:hover{
    font-size:22px;
}

/*form page start here;*/

.container{
    width:360px;
    height:400px;
    margin:8% auto;
    background:#fff;
    border-radius:5px;
    position:relative;
}
h3{
    text-align:center;
    margin-bottom:40px;
    color:#777;
}

.container .form{
    width:280px;
    position:absolute;
    top:100px;
    left:40px;
    transition:0.5s;

}
.form input{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    
    border-color: #777;
    outline:none;
    background:transparent;
}
#form1 select{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    
    
    outline:none;
    background:transparent; 
}

#form3 select{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    
    
    outline:none;
    background:transparent; 
}
#form select{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    
    
    outline:none;
    background:transparent; 
}
#empty{
    width:100%;
    padding:10px 5px;
    margin:5px 0;
    
    
    outline:none;
    background:transparent; 
}


.btn-box{
    width:100%;
    margin:30px auto;
    text-align:center;
}

.form button{
    width:110px;
    height:35px;
    margin:0 10px;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    border:0;
    outline:none;
    color:#fff;
    cursor:pointer;
}
#form3{
    left:450px;
    
}

.step_row{
    width:360px;
    height:40px;
    margin:0 auto;
    display:flex;
    align-items:center;
    box-shadow:0 -1px 5px;
}

.pages{
    width:180px;
    text-align:center;
    color:#333;
    position:relative;
}
#progress{
    position:absolute;
    width:180px;
    height:40px;
    background:linear-gradient( to right,#ff105f,#ffad06);
    transition:0.5s;
}
#progress ::after{
    content:'';
    height:0;
    width:0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    position:absolute;
    right:-20px;
    top:0;
    border-left:20px solid #ffad06;

}
.row{
    position:absolute;
    top:600px;
    margin:auto;
    left:45%;
}
#prediction{
    color:white;
    font-size: large;
}






 




